.prevent-scrolling {
  overflow-y: hidden;
}

.navigation-list {
  position: absolute;
  height: 100%;
  inset: 0 0 0 0;
  z-index: 2;
  overflow-y: auto;
}

.navigation-list_closed {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  pointer-events: none;
}

.navigation-list_open {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  pointer-events: all;
}

@media screen and (min-width: 500px) {
  .container {
    max-height: 90vh;
  }
}
