.navigation-bar {
  position: sticky;
  top: 0;
  overflow: hidden;
  text-transform: none;
  z-index: 3;
}

@media screen and (max-width: 500px) {
  .navigation-bar_nav-region {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .navigation-bar_launcher-region button {
    display: none;
  }
}
