.evening-list {
	min-height: 10vh;
}

.add-button {
	background-color: #0070d2 !important;
	position: fixed !important;
	right: 5%;
	bottom: 5%;
}

.add-button svg {
	fill: #fff;
}

.capitalize span {
	text-transform: capitalize;
}
